Repository imewei/pyXRayLabTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-linkcheck, claude-quality-check

.pre-commit-config.yaml:

# Pre-commit hooks for XRayLabTool
# Install with: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file cleanup
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: debug-statements
      - id: name-tests-test
        args: ['--pytest-test-first']

  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        language_version: python3
        args: ['--line-length=88']

  # Python import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ['--profile', 'black', '--line-length=88']

  # Python linting
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=88', '--max-complexity=10']
        additional_dependencies: [flake8-docstrings]

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests, types-setuptools]
        args: ['--ignore-missing-imports', '--no-strict-optional']

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: ['-r', 'xraylabtool/']
        exclude: tests/

  # Documentation quality
  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: v0.6.7
    hooks:
      - id: sphinx-lint
        files: ^docs/source/.*\.(rst|md)$
        args: ['--enable=all']

  # RST format checking
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Documentation link checking (local only)
  - repo: local
    hooks:
      - id: docs-linkcheck
        name: Check documentation links
        entry: bash
        args: [-c, 'if command -v sphinx-build &> /dev/null; then sphinx-build -b linkcheck docs/source docs/_build/linkcheck; else echo "sphinx-build not found, skipping linkcheck"; fi']
        language: system
        files: ^docs/
        pass_filenames: false

  # Claude Code Quality Analysis (comprehensive pre-commit check)
  - repo: local
    hooks:
      - id: claude-quality-check
        name: ü§ñ Claude Code Quality Analysis
        entry: bash
        args: [-c, 'if command -v make &> /dev/null; then make claude; else echo "‚ö†Ô∏è  Make not available. Run: pip install -e .[dev] && make claude"; exit 1; fi']
        language: system
        files: ^(xraylabtool/|tests/.*\.py$|.*\.py$)
        pass_filenames: false
        stages: [pre-commit, manual]
        verbose: true

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

🔧 fix(docs): resolve Jupyter config permission errors in Sphinx build
  docs/conf.py
Due: docs-linkcheck, claude-quality-check

🔧 fix(ci): update documentation workflow paths after architecture consolidation
  .github/workflows/docs-test.yml
  .github/workflows/docs.yml
Due: none

📝 fix(docs): correct shell completion support in README
  README.md
Due: none

📝 docs(readme): add shell-specific completion prerequisites
  README.md
Due: none

📝 docs: update shell completion support across all documentation
  docs/api/interfaces.rst
  docs/cli_reference.rst
Due: docs-linkcheck

📝 docs: remove marketing language and promotional text from README
  README.md
Due: none

🔧 fix: resolve GitHub Actions CI failures for commit 80a5a49
  .github/workflows/docs-test.yml
  docs/api/validation.rst
  xraylabtool/completion_installer.py
  xraylabtool/data_handling/atomic_cache.py
Due: docs-linkcheck, claude-quality-check

🚀 feat: implement comprehensive GitHub Actions workflow optimization
  .github/dependabot.yml
  .github/scripts/cache-warmup.py
  .github/scripts/workflow-reporter.py
  .github/workflows/ci-optimized.yml
  .github/workflows/docs-optimized.yml
  .github/workflows/docs-test-optimized.yml
  .github/workflows/status-dashboard.yml
  .github/workflows/workflow-monitoring.yml
  pyproject.toml
Due: claude-quality-check

🔧 fix: resolve GitHub Actions CI workflow issues
  .github/workflows/ci-optimized.yml
  pyproject.toml
Due: none

🛠️ feat: add code formatting helper script
  scripts/format-code.sh
Due: none

🔧 fix: resolve GitHub Actions failures for commit 6b0c57d
  .github/workflows/status-dashboard.yml
Due: none

🔧 fix: resolve additional YAML syntax error in docs-test-optimized.yml
  .github/workflows/docs-test-optimized.yml
Due: none

🔧 fix: simplify docs-test-optimized.yml to avoid YAML/Python embedding issues
  .github/workflows/docs-test-optimized.yml
Due: none

🔧 fix: resolve critical GitHub Actions failures for commit dfa600b
  docs/source/conf.py
  xraylabtool/validation/exceptions.py
Due: docs-linkcheck, claude-quality-check

🔧 fix: apply pre-commit formatting fixes to resolve CI failures
  .readthedocs.yaml
  docs/Makefile
  docs/_static/custom.css
  docs/api/data_handling.rst
  docs/changelog.rst
  docs/examples/basic_examples.ipynb
  docs/examples/getting_started.ipynb
  docs/physics/atomic_data.rst
  docs/physics/xray_optics.rst
  install_completion.py
  run_tests.py
Due: docs-linkcheck, claude-quality-check

🔧 feat: remove GitHub Pages deployment from documentation workflows
  .github/workflows/docs-optimized.yml
  .github/workflows/docs.yml
Due: none

🔧 fix: resolve comprehensive GitHub Actions failures for commit df2bb3b
  docs/api/interfaces.rst
  docs/cli_reference.rst
  docs/conf.py
  docs/getting_started.rst
  docs/performance.rst
  docs/physics/calculations.rst
  docs/tutorials/index.rst
  run_tests.py
Due: docs-linkcheck, claude-quality-check

🎯 feat: validate comprehensive GitHub Actions fixes with automated testing
  GITHUB_ACTIONS_FIX_VALIDATION.md
Due: none

🔧 fix(formatting): resolve ruff 0.7.1 formatting issues and unused function argument
  .github/scripts/cache-warmup.py
  .github/scripts/workflow-reporter.py
  docs/conf.py
  xraylabtool/utils.py
Due: docs-linkcheck, claude-quality-check

🔧 fix(ci): resolve GitHub Actions failures with automated error fixes
  docs/getting_started.rst
Due: docs-linkcheck

🔧 fix(docs): resolve Pygments lexer warning with IPython syntax
  docs/getting_started.rst
Due: docs-linkcheck

🔧 fix(ci): resolve import sorting violations across codebase
  tests/conftest.py
  tests/fixtures/test_utilities.py
  tests/integration/test_cli.py
  tests/integration/test_cli_edge_cases.py
  tests/performance/test_performance_benchmarks.py
  tests/performance/test_performance_optimizations.py
  tests/performance/test_performance_optimizations_enhanced.py
  xraylabtool/calculators/core.py
  xraylabtool/completion_installer.py
  xraylabtool/data_handling/atomic_cache.py
  xraylabtool/data_handling/batch_processing.py
  xraylabtool/interfaces/cli.py
  xraylabtool/interfaces/completion.py
  xraylabtool/utils.py
Due: claude-quality-check

🔧 fix(imports): apply final import sorting standardization
  xraylabtool/calculators/core.py
  xraylabtool/utils.py
Due: claude-quality-check

🔧 fix(format): apply final Black formatting to complete CI compliance
  xraylabtool/calculators/core.py
  xraylabtool/utils.py
Due: claude-quality-check

🔧 trigger: force fresh CI run with latest import sorting fixes
  .gitignore
Due: none

🔧 fix(ci): final alignment for both CI workflows
  .gitignore
Due: none

🔧 fix(ci): force fresh CI run with correct import formatting
  .gitignore
Due: none

🔧 fix(ci): add --profile=black to isort check to match pyproject.toml
  .github/workflows/ci.yml
Due: none

🔧 fix(ci): remove --diff flag from isort check to match optimized CI
  .github/workflows/ci.yml
Due: none

🔧 fix(imports): apply comprehensive import sorting fixes for CI compatibility
  .gitignore
Due: none

🔧 fix(ci): pin isort and ruff versions to match optimized CI workflow
  .github/workflows/ci.yml
Due: none

🎨 style: apply comprehensive import sorting and formatting fixes
  tests/conftest.py
  tests/fixtures/test_utilities.py
  tests/integration/test_cli.py
  tests/integration/test_cli_edge_cases.py
  tests/performance/test_performance_benchmarks.py
  tests/performance/test_performance_optimizations.py
  tests/performance/test_performance_optimizations_enhanced.py
  xraylabtool/calculators/core.py
  xraylabtool/completion_installer.py
  xraylabtool/data_handling/atomic_cache.py
  xraylabtool/data_handling/batch_processing.py
  xraylabtool/interfaces/cli.py
  xraylabtool/interfaces/completion.py
  xraylabtool/utils.py
Due: claude-quality-check

🔧 fix(ci): ensure consistent tool versions by using force-reinstall
  .github/workflows/ci.yml
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

🔧 fix(ci): apply comprehensive import sorting fixes for all 14 files
  tests/conftest.py
  tests/fixtures/test_utilities.py
  tests/integration/test_cli.py
  tests/integration/test_cli_edge_cases.py
  tests/performance/test_performance_benchmarks.py
  tests/performance/test_performance_optimizations.py
  tests/performance/test_performance_optimizations_enhanced.py
  xraylabtool/calculators/core.py
  xraylabtool/completion_installer.py
  xraylabtool/data_handling/atomic_cache.py
  xraylabtool/data_handling/batch_processing.py
  xraylabtool/interfaces/cli.py
  xraylabtool/interfaces/completion.py
  xraylabtool/utils.py
Due: claude-quality-check

🔧 fix(ci): final formatting and import fixes for all 14 affected files
  tests/conftest.py
  tests/fixtures/test_utilities.py
  tests/integration/test_cli.py
  tests/integration/test_cli_edge_cases.py
  tests/performance/test_performance_benchmarks.py
  tests/performance/test_performance_optimizations.py
  tests/performance/test_performance_optimizations_enhanced.py
  xraylabtool/calculators/core.py
  xraylabtool/completion_installer.py
  xraylabtool/data_handling/atomic_cache.py
  xraylabtool/data_handling/batch_processing.py
  xraylabtool/interfaces/cli.py
  xraylabtool/interfaces/completion.py
  xraylabtool/utils.py
Due: claude-quality-check

🚀 fix(ci): resolve import sorting and formatting issues with precise CI tool versions
  tests/conftest.py
  tests/fixtures/test_utilities.py
  tests/integration/test_cli.py
  tests/integration/test_cli_edge_cases.py
  tests/performance/test_performance_benchmarks.py
  tests/performance/test_performance_optimizations.py
  tests/performance/test_performance_optimizations_enhanced.py
  xraylabtool/calculators/core.py
  xraylabtool/completion_installer.py
  xraylabtool/data_handling/atomic_cache.py
  xraylabtool/data_handling/batch_processing.py
  xraylabtool/interfaces/cli.py
  xraylabtool/interfaces/completion.py
  xraylabtool/utils.py
Due: claude-quality-check

🔧 fix(ci): resolve isort CLI/config precedence conflicts in main CI workflow
  .github/workflows/ci.yml
Due: none
