Repository imewei/pyXRayLabTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-linkcheck, claude-quality-check

.pre-commit-config.yaml:

# Pre-commit hooks for XRayLabTool
# Install with: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file cleanup
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: debug-statements
      - id: name-tests-test
        args: ['--pytest-test-first']

  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        language_version: python3
        args: ['--line-length=88']

  # Python import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ['--profile', 'black', '--line-length=88']

  # Python linting
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=88', '--max-complexity=10']
        additional_dependencies: [flake8-docstrings]

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests, types-setuptools]
        args: ['--ignore-missing-imports', '--no-strict-optional']

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: ['-r', 'xraylabtool/']
        exclude: tests/

  # Documentation quality
  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: v0.6.7
    hooks:
      - id: sphinx-lint
        files: ^docs/source/.*\.(rst|md)$
        args: ['--enable=all']

  # RST format checking
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Documentation link checking (local only)
  - repo: local
    hooks:
      - id: docs-linkcheck
        name: Check documentation links
        entry: bash
        args: [-c, 'if command -v sphinx-build &> /dev/null; then sphinx-build -b linkcheck docs/source docs/_build/linkcheck; else echo "sphinx-build not found, skipping linkcheck"; fi']
        language: system
        files: ^docs/
        pass_filenames: false

  # Claude Code Quality Analysis (comprehensive pre-commit check)
  - repo: local
    hooks:
      - id: claude-quality-check
        name: ü§ñ Claude Code Quality Analysis
        entry: bash
        args: [-c, 'if command -v make &> /dev/null; then make claude; else echo "‚ö†Ô∏è  Make not available. Run: pip install -e .[dev] && make claude"; exit 1; fi']
        language: system
        files: ^(xraylabtool/|tests/.*\.py$|.*\.py$)
        pass_filenames: false
        stages: [pre-commit, manual]
        verbose: true

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

🔄 fix(ci): implement cache busting to resolve persistent isort configuration conflicts
  .github/workflows/ci.yml
Due: none

🚀 fix(ci): implement nuclear solution for persistent isort configuration conflicts
  .github/workflows/ci.yml
Due: none

🔧 fix(ci): correct pytest test class names in performance validation
  .github/workflows/ci.yml
Due: none

🔧 fix(ci): resolve benchmark test execution and performance targets
  .github/workflows/ci.yml
  tests/performance/test_performance_benchmarks.py
Due: claude-quality-check

🔧 fix(ci): use direct test path for benchmark execution to avoid marker filtering issues
  .github/workflows/ci.yml
Due: none

🎨 style: apply automated import sorting and formatting fixes from pre-commit hooks
  tests/conftest.py
  tests/fixtures/test_utilities.py
  tests/integration/test_cli.py
  tests/integration/test_cli_edge_cases.py
  tests/performance/test_performance_optimizations.py
  tests/performance/test_performance_optimizations_enhanced.py
  xraylabtool/calculators/core.py
  xraylabtool/completion_installer.py
  xraylabtool/data_handling/atomic_cache.py
  xraylabtool/data_handling/batch_processing.py
  xraylabtool/interfaces/cli.py
  xraylabtool/interfaces/completion.py
  xraylabtool/utils.py
Due: claude-quality-check

🔧 fix(ci): implement robust benchmark execution with fallback handling
  .github/workflows/ci.yml
Due: none

🔧 fix(ci): eliminate problematic memory performance test to resolve benchmark job exit code 5
  .github/workflows/ci.yml
Due: none

update
  .gitignore
Due: none

🚀 Release v0.2.0: Update release date and clean up temporary files
  CHANGELOG.md
  GITHUB_ACTIONS_FIX_VALIDATION.md
Due: none

Update .readthedocs.yaml
  .readthedocs.yaml
Due: none

🔧 fix(docs): remove invalid features configuration from ReadTheDocs config
  .readthedocs.yaml
Due: none

🔧 fix(docs): remove problematic system dependency installation from ReadTheDocs config
  .readthedocs.yaml
Due: none

🔧 feat(ci): enhance workflow health analysis with robust authentication handling
  .github/scripts/workflow-reporter.py
  .github/workflows/workflow-monitoring.yml
Due: claude-quality-check

🧹 style: apply pre-commit formatting to test files and scripts
  .github/scripts/cache-warmup.py
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  tests/fixtures/test_base.py
  tests/fixtures/test_utilities.py
  tests/integration/test_cli.py
  tests/integration/test_integration.py
  tests/performance/test_memory_management.py
  tests/performance/test_performance_benchmarks.py
  tests/performance/test_performance_optimizations_enhanced.py
  tests/unit/test_numerical_stability.py
Due: claude-quality-check

🚀 Release v0.2.1: Enhanced CI/CD infrastructure and improved reliability
  CHANGELOG.md
  pyproject.toml
  xraylabtool/__init__.py
Due: claude-quality-check

Update workflows
  CHANGELOG.md
Due: none

🔧 fix(ci): resolve GitHub Actions build conflicts and test timeouts
  .github/workflows/ci-optimized.yml
  tests/fixtures/test_base.py
  tests/fixtures/test_utilities.py
  tests/integration/test_cli.py
  tests/integration/test_integration.py
  tests/performance/test_memory_management.py
  tests/performance/test_performance_benchmarks.py
  tests/performance/test_performance_optimizations_enhanced.py
  tests/unit/test_numerical_stability.py
  xraylabtool/calculators/core.py
  xraylabtool/utils.py
Due: claude-quality-check

🎨 style: apply pre-commit formatting improvements
  .githooks/post-commit
  CHANGELOG.md
  pyproject.toml
  scripts/setup-githooks.sh
  test_formatting.py
  tests/fixtures/test_base.py
  tests/fixtures/test_utilities.py
  tests/integration/test_cli.py
  tests/integration/test_integration.py
  tests/performance/test_performance_benchmarks.py
  tests/performance/test_performance_optimizations_enhanced.py
  tests/unit/test_numerical_stability.py
  xraylabtool/__init__.py
  xraylabtool/calculators/core.py
  xraylabtool/utils.py
Due: claude-quality-check

📝 docs: remove promotional language from documentation
  .githooks/post-commit
  .github/scripts/workflow-reporter.py
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/api/data_handling.rst
  docs/api/index.rst
  docs/api/interfaces.rst
  docs/api/io_operations.rst
  docs/api/utils.rst
  docs/changelog.rst
  docs/cli_reference.rst
  docs/conf.py
  docs/contributing.rst
  docs/examples/index.rst
  docs/getting_started.rst
  docs/index.rst
  docs/performance.rst
  docs/physics/calculations.rst
  docs/physics/xray_optics.rst
  docs/source/_static/create_favicon.py
  docs/testing.rst
  docs/tutorials/index.rst
  scripts/README.md
  scripts/setup-githooks.sh
Due: docs-linkcheck, claude-quality-check

🧹 chore: remove temporary test formatting file
  test_formatting.py
Due: claude-quality-check

🚀 release: prepare v0.2.3 with documentation improvements and dependency updates
  CHANGELOG.md
  pyproject.toml
  xraylabtool/__init__.py
Due: claude-quality-check

🚀 feat: comprehensive vectorization and speed optimization implementation
  .gitignore
  Makefile
  baseline_ci_report.json
  docs/optimization/vectorization_analysis.md
  performance_baseline_summary.json
  performance_history.json
  pyproject.toml
  scripts/run_type_check.py
  test_persistence.json
  tests/performance/test_baseline_establishment.py
  tests/performance/test_bottleneck_identification.py
  tests/performance/test_speed_optimization_benchmarks.py
  tests/performance/test_vectorization_improvements.py
  tests/performance/test_vectorized_core.py
  tests/unit/test_cache_efficiency.py
  tests/unit/test_enhanced_xray_result_typing.py
  tests/unit/test_type_safety_config.py
  xraylabtool/calculators/core.py.backup
  xraylabtool/constants.py
  xraylabtool/data_handling/adaptive_preloading.py
  xraylabtool/data_handling/atomic_cache.py
  xraylabtool/data_handling/cache_metrics.py
  xraylabtool/data_handling/compound_analysis.py
  xraylabtool/data_handling/hit_rate_monitor.py
  xraylabtool/optimization/bottleneck_analyzer.py
  xraylabtool/optimization/memory_profiler.py
  xraylabtool/optimization/regression_detector.py
  xraylabtool/optimization/vectorized_core.py
  xraylabtool/typing_extensions.py
  xraylabtool/utils.py
Due: docs-linkcheck, claude-quality-check

fix: resolve all safety mechanism test failures with correct API usage
  tests/unit/test_safety_mechanisms.py
Due: claude-quality-check

🎨 style: apply pre-commit formatting improvements
  bottleneck_analysis_report.json
  xraylabtool/interfaces/cli.py
Due: claude-quality-check

update
  bottleneck_analysis_report.json
Due: none

🚀 ci: modernize CI/CD workflows with latest 2025 tool versions
  .github/scripts/cache-warmup.py
  .github/scripts/workflow-reporter.py
  .github/workflows/ci.yml
  .github/workflows/cleanup-system-ci.yml
  .pre-commit-config.yaml
Due: claude-quality-check

🎯 feat: comprehensive code quality optimization and security hardening
  Makefile
  scripts/README.md
  scripts/audit_architecture.py
  scripts/audit_documentation.py
  scripts/automated_testing.py
  scripts/ci-config.yml
  scripts/coverage_analysis.py
  scripts/final_qa_report.py
  scripts/test_cli_examples.py
  scripts/test_cli_structure.py
  scripts/test_code_examples.py
  scripts/test_documentation_formatting.py
  scripts/test_documentation_integration.py
  scripts/test_documentation_links.py
  scripts/validate-actions.sh
  scripts/verify_cli_commands.py
  tests/performance/test_bottleneck_identification.py
  tests/test_code_quality.py
  tests/unit/test_cli_enhanced_error_handling.py
  xraylabtool/export/__init__.py
  xraylabtool/interfaces/cli.py
  xraylabtool/interfaces/completion.py
  xraylabtool/interfaces/completion_v2/cache.py
  xraylabtool/interfaces/completion_v2/cli.py
  xraylabtool/interfaces/completion_v2/environment.py
  xraylabtool/interfaces/completion_v2/installer.py
  xraylabtool/interfaces/completion_v2/integration.py
  xraylabtool/interfaces/completion_v2/shells.py
  xraylabtool/io/file_operations.py
Due: claude-quality-check

🔧 fix: update GitHub Actions to use correct action versions
  .github/workflows/ci-optimized-v2.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/ci.yml
Due: none

🚀 optimize: comprehensive GitHub Actions CI/CD workflow optimization
  .github/WORKFLOWS.md
  .github/workflows/ci-fast.yml
  .github/workflows/ci-optimized-v2.yml
  .github/workflows/ci.yml
  .github/workflows/performance-monitoring.yml
Due: none

🚀 feat: implement ultra-advanced GitHub Actions optimization suite
  .github/scripts/smart-test-selection.py
  .github/workflows/ci-ultra-optimized.yml
  .github/workflows/error-detection-recovery.yml
  .github/workflows/matrix-optimization.yml
  .github/workflows/pre-commit-optimization.yml
Due: claude-quality-check

🧹 refactor: streamline GitHub Actions workflows for fast error-free commits
  .github/CI_OPTIMIZATION_GUIDE.md
  .github/WORKFLOWS.md
  .github/workflows/README.md
  .github/workflows/ci-fast.yml
  .github/workflows/ci-optimized-v2.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/ci-ultra-optimized.yml
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/cleanup-system-ci.yml
  .github/workflows/cleanup-system-release.yml
  .github/workflows/dev-feedback.yml
  .github/workflows/docs-optimized.yml
  .github/workflows/docs-test-optimized.yml
  .github/workflows/docs-test.yml
  .github/workflows/docs.yml
  .github/workflows/error-detection-recovery.yml
  .github/workflows/matrix-optimization.yml
  .github/workflows/pre-commit-optimization.yml
  .github/workflows/publish.yml
  .github/workflows/security-enhanced.yml
  .github/workflows/security.yml
  .github/workflows/workflow-monitoring.yml
Due: none

🔧 fix: resolve GitHub Actions configuration issues with auto-fixes
  .github/workflows/dependencies.yml
  .github/workflows/docs.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

🐛 fix: resolve xraylabtool completion subcommands not working
  xraylabtool/interfaces/cli.py
Due: claude-quality-check

🔧 fix: resolve MaterialComparator import error and update CLI tests
  tests/integration/test_cli.py
  xraylabtool/analysis/__init__.py
  xraylabtool/analysis/comparator.py
  xraylabtool/interfaces/completion_v2/shells.py
Due: claude-quality-check
